
@{
    ViewBag.Title = "ManageInventory";
}

<div class="col-xs-2 column">
    @Html.Partial("~/Views/StoreClerk/SideBar.cshtml")
</div>
<div class="col-xs-10 column">
    <div class="row">
        <div class="col-lg-15">
            <div class="panel-body" style="padding-bottom: 0px;">
                <div class="panel panel-default">
                    <div class="panel-heading">Inventory Items</div>
                    <div class="panel-body">

                        <table id="InventoryItemTable">

                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="editInventory" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" role="form" action="UpdateInventoryBinNumber"  id="approval-form">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Quantity</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">


                        <div class="form-group-sm">
                           
                            <input type="text" class="form-control" required th:field="*{phoneNumber}" id="courseidedit" readonly="readonly" name="label1">

                        </div>

                        <br />
                        <div class="form-group-sm">
                            <label for="Text">Item Name : </label>
                            <label id="itemName"></label>
                        </div>
                        <br />

                        <div class="form-group-sm">
                            <label>Bin Number</label>
                            <input type="text" class="form-control" required th:field="*{phoneNumber}" id="editBinId" name="binNumber">
                        </div>
                    </div>
                    <div class="modal-footer">
                         <button type="submit" class="btn btn-primary" id="sub">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/bootstrap-table.js"></script>
<script src="~/Scripts/tables/ManageInventory.js"></script>
<script>
    $(document).ready(function () {

        $("#sub").click(function (e) {
            e.preventDefault();
            if (/^([A-Z]{1})([1-9]{1})$/.test($("#editBinId").val())) {
               
                $("#approval-form").submit();
            }
            else {
                //display error
                alert("Invalid bin Number\n Valid Bin number([A-Z]followed by[1-9])");
                $("editBinId").val("");
            }
        })
        
    });
</script>