
@{
    ViewBag.Title = "PurchaseOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-2 column">
    @Html.Partial("~/Views/StoreClerk/SideBar.cshtml")
</div>
<div class="col-xs-10 column">


    <div class="panel-body" style="padding-bottom: 0px;">
        <div class="panel panel-default">
            <div class="panel-heading">Searched Itemed</div>
            <div class="panel-body">
                <table id="SearchItemTable" class="table-condensed"></table>
            </div>
        </div>
    </div>

    <div class="panel-body" style="padding-bottom: 0px;">
        <div class="panel panel-default">
            <div class="panel-heading">Item Added</div>
            <div class="panel-body">
                <table id="ItemAddedTable" class="table-condensed"></table>
                <div style="margin-top:8px">
                    <input type="button" value="Confirm" onclick="postData()" class="btn btn-primary" style="float:right" />
                </div>
            </div>
        </div>
    </div>

    <div id="successModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deleteForm">
                    <div class="modal-header">
                        <h4 class="modal-title">Success</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Successfully purchase order</p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-success center-block" data-dismiss="modal"
                               value="OK" onclick="window.location.href='/StoreClerk/RaiseRequest'">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/tables/PurchaseOrder.js"></script>
    <script src="~/Scripts/bootstrap-table-export.js"></script>
    <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
    <script src="~/Scripts/PurchaseItemChoose.js"></script>
</div>


