
@{
    ViewBag.Title = "PurchaseOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-2 column">
    @Html.Partial("~/Views/StoreClerk/SideBar.cshtml")
</div>
<div class="col-xs-10 column">


    <div class="panel-body" style="padding-bottom: 0px;">
        <div class="panel panel-default">
            <div class="panel-heading">Searched Itemed</div>
            <div class="panel-body">
                <table id="SearchItemTable" class="table-condensed"></table>
            </div>
        </div>
    </div>

    <div class="panel-body" style="padding-bottom: 0px;">
        <div class="panel panel-default">
            <div class="panel-heading">Item Added</div>
            <div class="panel-body">
                <table id="ItemAddedTable" class="table-condensed"></table>
                <div style="margin-top:8px">
                    <input type="button" value="Confirm" onclick="confirm()" class="btn btn-primary" style="float:right" />
                </div>
            </div>
        </div>
    </div>

    <div id="confirmModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" role="form" method="post" id="confirm">
                    <div class="modal-header">
                        <h4 class="modal-title">Confirm order</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Supplier Address</label>
                            <input type="text" class="form-control" required id="supplierAddress">
                        </div>
                        <div class="form-group">
                            <label>Deliever To</label>
                            <input type="text" class="form-control" required id="delieverTo">
                        </div>
                        
                        <div class="form-group">
                            <label>Attention To</label>
                            <input type="text" class="form-control" required id="attentionTo">
                        </div>
                        <div class="form-group">
                            <label>Date to the delivered by</label>
                            <input type="date" class="form-control" required id="dateToDeliver">
                        </div>
                    </div>
                    <div>
                        <table class="table table-condensed" id="confirmTable">
                            
                        </table>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/Scripts/bootstrap-table.js"></script>
    <script src="~/Scripts/tables/PurchaseOrder.js"></script>
    <script src="~/Scripts/bootstrap-table-export.js"></script>
    <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
    <script src="~/Scripts/PurchaseItemChoose.js"></script>
</div>


