
@{
    ViewBag.Title = "Reports";
}

<div class="col-xs-2 column">
    @Html.Partial("~/Views/StoreClerk/SideBar.cshtml")
</div>

<h2>Reports</h2>

<li>
        <a href="/StoreClerk/generateChargeBack">
            <span>Generate Chargeback</span>
        </a>
    </li>

    <li>
        <a href="/StoreClerk/trenAnalysisByItems">
            <span>Trend Analysis by Items</span>
        </a>
    </li>

