<nav class="hidden-print hidden-xs hidden-sm affix">
    <ul class="nav">

        <li>
            <a href="/StoreClerk/RaiseRequest">
                <span>Raise Request</span>
            </a>
        </li>
        <li>
            <a href="/StoreClerk/PurchaseOrder">
                <span>Purchase Order</span>
            </a>
        </li>
        <li>
            <a href="/StoreClerk/AdjustmentVoucher">
                <span>Adjustment Voucher</span>
            </a>
        </li>
        <li>
            <a href="/admin/addLecturer">
                <span>Add New Lecturer</span>
            </a>
        </li>
        <li>
            <a href="/admin/addstudent">
                <span>Add New Student</span>
            </a>
        </li>
        <li>
            <a href="/admin/addcourse">
                <span>Add New Course</span>
            </a>
        </li>
       

    </ul>
</nav>
