<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="nav">

        <li>
            <a href="/StoreClerk/RaiseRequest">
                <span>Raise Request</span>
            </a>
        </li>
        <li>
            <a href="/StoreClerk/PurchaseOrder">
                <span>Purchase Order</span>
            </a>
        </li>
        <li>
            <a href="/StoreClerk/AdjustmentVoucher">
                <span>Adjustment Voucher</span>
            </a>
        </li>
        <li>
            <a href="/admin/addLecturer">
                <span>Add New Lecturer</span>
            </a>
        </li>
        <li>
            <a href="/admin/addstudent">
                <span>Add New Student</span>
            </a>

        </li>
        <li>
            <a href="/admin/addcourse">
                <span>Add New Course</span>
            </a>
        </li>
        <li>
            <a href="/StoreClerk/ManageInventory">
                <span>Manage Inventory</span>
            </a>
        </li>

        <li>
            <a href="/StoreClerk/generateChargeBack">
                <span>Generate Chargeback</span>
            </a>
        </li>

        <li>
            <a href="/StoreClerk/trenAnalysisByItems">
                <span>Trend Analysis by Items</span>
            </a>
        </li>


    </ul>
</nav>
