
    <nav class="navbar navbar-expand-sm bg-dark navbar">
		<ul class="nav">

			<li>
				<a href="/StoreClerk/ViewOrders">
					<span>Requisition Request</span>
				</a>
			</li>
			<li>
				<a href="/StoreClerk/RetrievalForm">
					<span>Retrieval List</span>
				</a>
			</li>
			<li>
				<a href="/StoreClerk/DisbursementList">
					<span>Disbursement List</span>
				</a>
			</li>
			<li>
				<a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">Adjustment Voucher</a>
				<ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
					<li><a href="/StoreClerk/ViewAllAdjustmentVoucherRaised">View all adjustment voucher</a></li>
					<li><a href="/StoreClerk/AdjustmentVoucher">Raise adjustment voucher</a></li>
				</ul>
			</li>
			<li>
				<a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu2" aria-expanded="false">Purchase Order</a>
				<ul class="nav collapse" id="submenu2" role="menu" aria-labelledby="btn-1">
					<li><a href="/StoreClerk/AddItems">Goods receivable</a></li>
					<li><a href="/StoreClerk/PurchaseOrder">Raise purchase order</a></li>

				</ul>
			</li>
			
			<li>
				<a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu3" aria-expanded="false">Inventory</a>
				<ul class="nav collapse" id="submenu3" role="menu" aria-labelledby="btn-1">
					<li><a href="/StoreClerk/ManageInventory"> Edit Inventory</a></li>
					<li><a href="/StoreClerk/ViewLowStock">View Low Stock</a></li>
				</ul>
			</li>
			

			<li>
				<a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu5" aria-expanded="false">Stationary Request</a>
				<ul class="nav collapse" id="submenu5" role="menu" aria-labelledby="btn-1">
					<li><a href="/StoreClerk/ViewRequest">View instationary request raised</a></li>
					<li><a href="/StoreClerk/RaiseRequest">Raise stationary request</a></li>
				</ul>
			</li>



			<li>
				<a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu4" aria-expanded="false">Reports</a>
                <ul class="nav collapse" id="submenu4" role="menu" aria-labelledby="btn-1">
                    <li><a href="/StoreClerk/generateChargeBack">Generate Charge Back Report</a></li>
                    <li><a href="/StoreClerk/trenAnalysisByItems">Generate Trend Analysis by Item</a></li>
                    <li><a href="/StoreClerk/trenAnalysisByExpenditure">Generate Trend Analysis by Expenditure</a></li>
                </ul>
			</li>

			<li>
				<a href="/StoreClerk/ListDept">
					<span>List Department</span>
				</a>
			</li>

		</ul>
        
    </nav>

