<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="nav">

        <li>
            <a href="/StoreClerk/ViewRequest">
                <span>Requsition Request</span>
            </a>
        </li>
        <li>
            <a href="/StoreClerk/RetrievalList">
                <span>Retrieval List</span>
            </a>
        </li>
        <li>
            <a href="/StoreClerk/RaiseRequest">
                <span>Disbursement List</span>
            </a>
        </li>
        <li>
            <a href="/StoreClerk/AdjustmentVoucher">
                <span>Adjustment Voucher</span>
            </a>
        </li>
        <li>
            <a href="/StoreClerk/PurchaseOrder">
                <span>Purchase Order</span>
            </a>
        </li>
        <li>
            <a href="/StoreClerk/ManageInventory">
                <span>Inventory</span>
            </a>
        </li>
        <li>
            <a href="/StoreClerk/AddItems">
                <span>Goods Receivable</span>
            </a>
        </li>
        <li>
            <a href="/StoreClerk/RaiseRequest">
                <span>Stationary Request</span>
            </a>
        </li>
        <li>
            <a href="/StoreClerk/Reports">
                <span>Reports</span>
            </a>
        </li>
        @*<li>
            <a href="/StoreClerk/generateChargeBack">
                <span>Generate Chargeback</span>
            </a>
        </li>

        <li>
            <a href="/StoreClerk/trenAnalysisByItems">
                <span>Trend Analysis by Items</span>
            </a>
        </li>*@
        <li>
            <a href="/StoreClerk/ListDept">
                <span>List Department</span>
            </a>
        </li>

    </ul>
</nav>
