<nav class="hidden-print hidden-xs hidden-sm affix">
    <ul class="nav">


        <li>
            <a href="/StoreManager/RequsitionRequest">
                <span>Requsition Request</span>
            </a>
        </li>

        <li>
            <a href="/StoreManager/ViewAdjustmentVoucherManager">
                <span>AdjustmentVoucher</span>
            </a>
        </li>
        <li>
            <a href="/StoreManager/EditReorder">
                <span>Edit Reorder Level & Quantity</span>
            </a>
        </li>
        <li>
            <a href="/StoreManager/PurchaseOrder">
                <span>Purchase Order</span>
            </a>
        </li>
        <li>
            <a href="/StoreManager/ViewInventory">
                <span>Inventory</span>
            </a>
        </li>
        <li>
            <a href="/StoreManager/Reports">
                <span>Reports</span>
            </a>
        </li>




    </ul>
</nav>
