<nav class="hidden-print hidden-xs hidden-sm affix">
    <ul class="nav">


        <li>
            <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu3" aria-expanded="false">Inventory</a>
            <ul class="nav collapse" id="submenu3" role="menu" aria-labelledby="btn-1">
                <li><a href="/StoreManager/ViewCatalogueItems"> View Catalogue Items</a></li>
                <li><a href="/StoreManager/ViewLowStock">View Low Stock</a></li>
            </ul>
        </li>

        <li>
            <a href="/StoreManager/ApproveOrReject">
                <span>Pending Approval Requests</span>
            </a>
        </li>

        <li>
            <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">Adjustment Voucher</a>
            <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                <li><a href="/StoreManager/ViewAdjustmentVoucherManager">View all adjustment voucher</a></li>

            </ul>
        </li>

        <li>
            <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu4" aria-expanded="false">Reports</a>
            <ul class="nav collapse" id="submenu4" role="menu" aria-labelledby="btn-1">
                <li><a href="/StoreManager/generateChargeBack">Chargeback Report</a></li>
                <li><a href="/StoreManager/trenAnalysisByItems">Trend Analysis by Item</a></li>
                <li><a href="/StoreManager/trenAnalysisByExpenditure">Trend Analysis by Expenditure</a></li>
            </ul>
        </li>

        <li>
            <a href="/Account/Register">
                <span>Add New User</span>
            </a>
        </li>



    </ul>
</nav>
