<nav class="hidden-print hidden-xs hidden-sm affix">
	<ul class="nav">
		

		<li>
			<a href="/StoreManager/ViewAdjustmentVoucherManager">
				<span>ViewAdjustmentVoucher</span>
			</a>
		</li>




	</ul>
</nav>
