
@{
    ViewBag.Title = "Error";
}


<h2>Error</h2>

<div class="container" style="margin-top: 21px;">
    <div th:replace="fragments/navigationbar :: navigationbar"></div>
    <div class="containner" style="margin-top: 5%;">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1>Opps</h1>
                <div class="mb-4 lead">Some errors happen!</div>
                <a href='/Home/Index' class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>

