

<div class="row">
    <div class="col-lg-15">
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="panel panel-default">
                <div class="panel-heading">Iventory Items</div>
                <div class="panel-body">
                    <table id="InventoryItemTable"></table>

                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/bootstrap-table.js"></script>
<script src="~/Scripts/tables/ManageInventory.js"></script>


