
@{
    ViewBag.Title = "Index";
}

<div class="col-xs-2 column">
    @Html.Partial("~/Views/DepRepresentative/SideBar.cshtml")
</div>

<div class="col-xs-9">
    <h2>Welcome to Logic University</h2>
</div>



