<nav class="hidden-print hidden-xs hidden-sm affix">
    <ul class="nav">
        <li>
            <a href="/DepRepresentative/ChangeCollectionPoint">
                <span>Change Collection Point</span>
            </a>
        </li>
        <li>
            <a href="/DepRepresentative/StationaryRequest">
                <span>Stationary Request</span>
            </a>
        </li>
        <li>
            <a href="/DepRepresentative/DisbursmentList">
                <span>Disbursment List</span>
            </a>
        </li>

    </ul>
</nav>
