<nav class="hidden-print hidden-xs hidden-sm affix">
	<ul class="nav">
		<li>
			<a href="/DepRepresentative/ChangeCollectionPoint">
				<span>Change Collection Point</span>
			</a>
		</li>
		

		<li>
			<a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu3" aria-expanded="false">Stationary Request</a>
			<ul class="nav collapse" id="submenu3" role="menu" aria-labelledby="btn-1">
				<li><a href="/DepRepresentative/ViewRequest">View all stationary request</a></li>
				<li><a href="/DepRepresentative/StationaryRequest">Raise stationary request</a></li>
			</ul>
		</li>


		<li>
			<a href="/DepRepresentative/DisbursementList">
				<span>Disbursement List</span>
			</a>
		</li>

	</ul>
</nav>
