
@{
    ViewBag.Title = "AssignDepHead";
}

<div class="col-xs-2 column">
    @Html.Partial("~/Views/DepManager/SideBar.cshtml")
</div>

<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!--Font Awesome (added because you use icons in your prepend/append)-->
<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

<!-- Inline CSS based on choices in "Settings" tab -->
<style>
    .bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form {
        font-family: Arial, Helvetica, sans-serif;
        color: black
    }

        .bootstrap-iso form button, .bootstrap-iso form button:hover {
            color: white !important;
        }

    .asteriskField {
        color: red;
    }
</style>


<div class="col-xs-offset-3 column">

    <form action="saveDepHead" class="rep-form" name="myForm">

        <h2>Delegate Department Head</h2> <br /><br />
        <div class="form-group">
            &nbsp;&nbsp;
            <label>
                Current Department Head :
            </label>
            &nbsp;&nbsp;
            @for (int i = 0; i < ViewBag.depHead.Count; i++)
            {
                if (ViewBag.depHead[i].UserType == "DeptHead")
                {

                    <label> @ViewBag.depHead[i].UserName</label>
                }
            }

        </div>

        <br />

        <div class="form-group ">
            <label class="control-label col-sm-2" for="select">
                New Department Head
            </label>




            <select class="form-control" name="dropdown1">

                @for (int i = 0; i < ViewBag.depHead.Count; i++)
                {
                    if (ViewBag.depHead[i].UserType != "DeptHead" && ViewBag.depHead[i].UserType != "DeptRep")

                    {
                        <option value="@ViewBag.depHead[i].Id"> @ViewBag.depHead[i].UserName </option>
                    }


                }

            </select>
        </div>
        <br />

        <div class="form-group ">
            <label class="control-label col-sm-2 requiredField" for="date">
                Start Date
                <span class="asteriskField">
                    *
                </span>
            </label>

            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar">
                    </i>
                </div>
                <input class="form-control" id="date1" name="date1" placeholder="YYYY/MM/DD" type="text" required />
            </div>
        </div>


        <br />

        <div class="form-group ">
            <label class="control-label col-sm-2 requiredField" for="date">
                End Date
                <span class="asteriskField">
                    *
                </span>
            </label>

            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-calendar">
                    </i>
                </div>
                <input class="form-control" id="date2" name="date2" placeholder="YYYY/MM/DD" type="text" required />
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

<script>
    $(document).ready(function () {
        var date_input = $('input[name="date1"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'yyyy/mm/dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>

<script>
    $(document).ready(function () {
        var date_input = $('input[name="date2"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'yyyy/mm/dd',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })
    })
</script>





