<nav class="hidden-print hidden-xs hidden-sm affix">
    <ul class="nav">
        <li>
            <a href="/DepManager/dashBoard">
                <span>Requisition Request</span>
            </a>
        </li>

        <li>
            <a href="/DepManager/ApproveOrReject">
                <span>Requisition Request</span>
            </a>
        </li>

        <li>
            <a href="/DepManager/AssignDepRep">
                <span>Appoint Department Rep</span>
            </a>
        </li>
        <li id="depHead">
            <a href="/DepManager/AssignDepHead">
                <span>Delegate Department Head</span>
            </a>
        </li>
        <li>
            <a href="/DepManager/DepSpendingHistory">
                <span>Spending History</span>
            </a>
        </li>



    </ul>
    <label id="depHeadLable" style="visibility:hidden">@ViewBag.usertype</label>
</nav>

<script>
    $(document).ready(function () {

        var depHeadType = document.getElementById("depHeadLable").textContent;
        if (depHeadType == "InterimDepHead")
        {
            debugger;
            var dephead = document.getElementById("depHead");
            dephead.style.display = "none";
            
        }
        

    });
</script>
