<nav class="hidden-print hidden-xs hidden-sm affix">
    <ul class="nav">
        <li>
            <a href="/StoreClerk/ApproveOrReject">
                <span>New Requests</span>
            </a>
        </li>
        <li>
            <a href="/StoreClerk/AdjustmentVoucher">
                <span>Requsition Request</span>
            </a>
        </li>
        <li>
            <a href="/DepManager/AssignDepRep">
                <span>Appoint Department Rep</span>
            </a>
        </li>
        <li>
            <a href="/DepManager/AssignDepHead">
                <span>Delegate Department Head</span>
            </a>
        </li>
        <li>
            <a href="/DepManager/DepSpendingHistory">
                <span>Spending History</span>
            </a>
        </li>



    </ul>
</nav>
