
<div class="col-xs-2 column">
    @Html.Partial("~/Views/StoreClerk/SideBar.cshtml")
</div>
<div class="row">
    <div class="col-lg-9">
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="panel panel-default">
                <div class="panel-heading">List of Departments</div>
                <div class="panel-body">
                    <table id="ListDepartments"></table>

                </div>
            </div>
        </div>
    </div>
</div>

   


<script src="~/Scripts/bootstrap-table.js"></script>
<script src="~/Scripts/tables/ListDepartments.js"></script>
<script src="~/Scripts/bootstrap-table-export.js"></script>
<script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>

