
<div class="row">
    <div class="col-xs-6">
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="panel panel-default">
                <div class="panel-heading">Searched Itemed</div>
                <div class="panel-body">
                    <table id="SearchItemTable">
                        <tr>
                            <td>aaaaaa</td>

                            <td><input type="number" class="form-control" placeholder="CourseID" id="quantity"></td>

                            <td>
                                <input type="button" value="Select" onclick="selectItem(this)" class="btn btn-primary" />



                            </td>
                        </tr>
                        <tr>
                            <td>bbbbb</td>

                            <td><input type="number" class="form-control" placeholder="CourseID" id="quantity"></td>

                            <td>
                                <input type="button" value="Select" onclick="selectItem(this)" class="btn btn-primary" />



                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-6">
        <div class="panel-body" style="padding-bottom: 0px;">
            <div class="panel panel-default">
                <div class="panel-heading">Item Added</div>
                <div class="panel-body">
                    <table id="ItemAddedTable"></table>
                    <div style="margin-top:8px">
                        <input type="button" value="Confirm" onclick="" class="btn btn-primary" style="float:right" />
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script src="~/Scripts/bootstrap-table.js"></script>
<script src="~/Scripts/tables/RaiseRequest.js"></script>
<script src="~/Scripts/bootstrap-table-export.js"></script>
<script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
<script src="~/Scripts/RaiseRequestChoose.js"></script>
