
@{
    ViewBag.Title = "ApproveOrRequestView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-2 column">
    @Html.Partial("~/Views/DepartmentHead/SideBar.cshtml")
</div>
<div class="col-xs-10 column">
    @Html.Partial("~/Views/ManageRequest/ApproveOrRejectRequestPartial.cshtml")
</div>

