
@{
    ViewBag.Title = "SideBar";
}

<nav class="hidden-print hidden-xs hidden-sm affix">
    <ul class="nav">

        <li>
            <a href="/StoreSupervisor/RequsitionRequest">
                <span>Requsition Request</span>
            </a>
        </li>
        <li>
            <a href="/StoreSupervisor/ViewAdjustmentVoucher">
                <span>AdjustmentVoucher</span>
            </a>
        </li>
        <li>
            <a href="/StoreSupervisor/EditReorder">
                <span>Edit Reorder Level & Quantity</span>
            </a>
        </li>
        <li>
            <a href="/StoreSupervisor/PurchaseOrder">
                <span>Purchase Order</span>
            </a>
        </li>
        <li>
            <a href="/StoreSupervisor/ViewInventory">
                <span>Inventory</span>
            </a>
        </li>
        <li>
            <a href="/StoreSupervisor/Reports">
                <span>Reports</span>
            </a>
        </li>


    </ul>
</nav>