<nav class="hidden-print hidden-xs hidden-sm affix">
    <ul class="nav">
        <li>
            <a href="/StoreSupervisor/RequsitionRequest">
                <span>Requsition Request</span>
            </a>
        </li>
        <li>
            <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu1" aria-expanded="false">Adjustment Voucher</a>
            <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                <li><a href="/StoreSupervisor/ViewAdjustmentVoucher">View all adjustment voucher</a></li>
               
            </ul>
        </li>

        <li>
            <a href="/StoreSupervisor/ViewInventory">
                <span>Edit Reorder Level & Quantity</span>
            </a>
        </li>
        @*<li>
            <a href="/StoreSupervisor/PurchaseOrder">
                <span>Purchase Order</span>
            </a>
        </li>*@
        <li>
            <a href="#" id="btn-1" data-toggle="collapse" data-target="#submenu4" aria-expanded="false">Reports</a>
            <ul class="nav collapse" id="submenu4" role="menu" aria-labelledby="btn-1">
                <li><a href="#">Generate charge back report</a></li>
                <li><a href="#">Generate trend analysis by item</a></li>
            </ul>
        </li>





    </ul>
</nav>
