
@{
    ViewBag.Title = "SideBar";
}

<nav class="hidden-print hidden-xs hidden-sm affix">
	<ul class="nav">
		<li>
			<a href="/StoreSupervisor/ViewInventory">
				<span>View Inventory</span>
			</a>
		</li>
		<li>
			<a href="/StoreSupervisor/ViewAdjustmentVoucher">
				<span>ViewAdjustmentVoucher</span>
			</a>
		</li>



	</ul>
</nav>

